:root {
  --active-tags-dd-color-primary: var(--gin-bg-layer3);
  --active-tags-dd-bg-color: var(--gin-bg-layer2);
}

/* Gin active tags component */
.active-tags {
  $self: &;
  --tag-border-radius: var(--ginBorderSmall);

  &--loading {
    #{ $self }__input {

      &::after {
        right: 5px;
        width: 17px;
        height: 17px;
        border: 2px solid var(--gin-bg-input);
        border-top: 2px solid var(--gin-color-primary);
        border-radius: 50%;
      }
    }
  }

  &--loading-text {
    color: var(--gin-color-primary);
  }

  &__tag {
    > div {
      color: var(--gin-color-text);
    }

    &:hover:not([readonly]),
    &:focus {
      div {
        color: var(--gin-color-primary-active);

        &::before{
          --tag-bg: var(--gin-color-primary-light-hover);
        }
      }

      #{$self}__tag__removeBtn {
        background-color: var(--gin-color-primary-active);
      }
    }

    &__removeBtn {
      margin-right: 0.5rem;
      margin-left: 0.3rem;
      background: #55565b;

      &::after {
        background-color: #dedfe4;
      }

      &:focus,
      &:hover {
        background: #fff !important;
        box-shadow: none;

        &::after {
          background-color: var(--gin-color-danger);
        }

        > #{$self}__tag {
          &:hover {
            background: #fff !important;
          }
        }

        + div {
          color: #fff !important;
          > span { opacity: 1; }
          &::before{
            box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--gin-color-danger) inset !important;
            transition: box-shadow 0.2s;
          }
        }
      }
    }
  }

  &__dropdown {
    border: 1px solid var(--gin-border-color);
    border-top: 2px transparent solid;
    border-radius: 0 0 var(--gin-border-m) var(--gin-border-m);
    box-shadow: 0 0.125rem 0.25rem var(--jui-dropdown-shadow-color);
    box-sizing: border-box;

    &[placement="top"] {
      border: 1px solid var(--gin-border-color);
      border-bottom: 2px transparent solid;
      border-radius: var(--gin-border-m) var(--gin-border-m) 0 0;
      box-shadow: 0 -0.125rem 0.25rem var(--jui-dropdown-shadow-color);
    }

    &.active-tags__tag__bubble {
      --tag-border-radius: 1rem;
    }

    &__wrapper {
      border: 0 !important;
      color: var(--gin-color-text);
      background: var(--gin-bg-input);
    }

    &__item {
      margin: 0;
      padding: 0.75rem 0.9375rem;
      color: inherit;
      background: inherit;

      &--active {
        color: var(--gin-color-primary-hover);
        background-color: var(--gin-bg-item-hover);
      }
    }
  }

  &.form-element {
    &--type-select:focus,
    &--type-select:focus-within
    &--type-select-multiple:focus,
    &--type-select-multiple:focus-within,
    &--api-entity-autocomplete-active-tags:focus,
    &--api-entity-autocomplete-active-tags:focus-within,
    &--api-entity-autocomplete-active-tags-users:focus,
    &--api-entity-autocomplete-active-tags-users:focus-within  {
      box-shadow: 0 0 0 1px var(--gin-color-focus-border), 0 0 0 4px var(--gin-color-focus) !important;
    }
  }

  &.form-select.form-element--type-select &__tag--editable &__tag__info-label-wrap,
  &__tag--editable &__tag-entity-id {
    color: var(--gin-color-text);
    background: var(--gin-color-primary-light-hover) !important;
  }

  &.form-select.form-element--type-select &__tag--editable > div::before {
    box-shadow: 0 0 0 2px var(--gin-color-primary-light-hover) inset !important;
  }
}

/* Gin dark mode */
.gin {
  &--dark-mode {
    .active-tags {
      --tag-text-color--edit: var(--gin-color-text);
      --tag-remove-btn-color: var(--gin-color-text);
      --tag-text-color: var(--gin-color-text);
      --tag-bg: var(--gin-bg-layer);
      --placeholder-color: var(--gin-color-text-light);
      --placeholder-color-focus: var(--gin-color-text);

      &__tag {
        > div {
          color: var(--gin-color-text);
        }

        &__removeBtn {
          background: var(--gin-color-danger);
        }

        &:hover:not([readonly]),
        &:focus {
          div {
            color: var(--gin-color-primary-active);

            &::before{
              --tag-bg: var(--gin-color-primary-light-hover)
            }
          }

          > .active-tags__removeBtn {
            color: #55565b;
            background: #dedfe4;
          }
        }

      }

      &__dropdown {
        &__item--active {
          color: var(--gin-color-primary-hover) !important;
          background-color: var(--gin-bg-item-hover) !important;
        }

        &.users-list .active-tags__dropdown__count {
          color: var(--gin-color-text);
          border-bottom: 1px solid #55565b;
          background-color: var(--gin-bg-layer);
        }
      }
    }

    & .active-tags__tag-entity-id,
    & .active-tags__tag__entity-id-wrap,
    & .active-tags__tag__info-label-wrap {
      color: var(--gin-color-text);
      background-color: #55565b;
    }

    & .active-tags__tag__items .active-tags__tag__info-label-wrap {
      transition: none;
    }

    & .active-tags__tag:hover > .active-tags__tag__items .active-tags__tag-entity-id,
    & .active-tags__tag:hover > .active-tags__tag__items .active-tags__tag__info-label-wrap {
      color: #55565b;
      background-color: var(--gin-color-text);
    }

    & .active-tags.form-select.form-element--type-select .active-tags__tag--editable .active-tags__tag__removeBtn {
      background: none !important;
    }

    & .active-tags.form-select.form-element--type-select.active-tags__tag--editable.active-tags__tag:hover > .active-tags__tag__items .active-tags__tag-entity-id,
    & .active-tags.form-select.form-element--type-select .active-tags__tag--editable.active-tags__tag:hover > .active-tags__tag__items .active-tags__tag__info-label-wrap {
      color: var(--gin-color-text);
    }
  }
}
