:root {
  --active-tags-dd-color-primary: transparent;
  --active-tags-dd-bg-color: #edeff5;
}
.active-tags {
  $self: &;

  &__tag {
    > div {
      color: var(--color-gray-800);
    }

    &:hover:not([readonly]),
    &:focus {
      > div {
        color: var(--color-absolutezero);

        &::before {
          --tag-bg: var(--color-bgblue-active);
        }
      }

      #{$self}__tag__removeBtn {
        background-color: var(--color-absolutezero);

        &::after {
          background-color: white;
        }
      }
    }

    &__removeBtn {
      margin-right: 0.5rem;
      margin-left: 0.3rem;
      background: #55565b;

      &::after {
        background-color: white;
      }

      &:focus,
      &:hover {
        background: var(--color-maximumred) !important;

        &::after {
          background-color: white;
        }

        + div {
          color: var(--color-maximumred) !important;
          > span {
            opacity: 1;
          }
        }
      }
    }
  }

  &__dropdown {
    color: var(--jui-dropdown-fg-color);
    border: var(--input-border-size) solid var(--jui-dropdown-border-color);
    border-top: 1px transparent solid;
    border-radius: 0 0 var(--input-border-radius-size) var(--input-border-radius-size);
    box-shadow: 0 0.125rem 0.25rem var(--jui-dropdown-shadow-color);
    box-sizing: border-box;

    &__wrapper {
      border: 0 !important;
      color: inherit;
      background: var(--jui-dropdown-bg-color);
    }

    &__item {
      margin: 0;
      padding: 0.75rem 0.9375rem;
      color: inherit;
      background: inherit;

      &--active {
        color: #fff;
        background: var(--color-blue-600) !important;
      }
    }
  }

  &.form-select.form-element--type-select .active-tags__tag--editable {
    > div::before {
      box-shadow: 0 0 0 2px var(--color-bgblue-active) inset;
    }
    .active-tags__tag-entity-id {
      background: var(--color-bgblue-active);
    }
  }
}
