:root {
  --active-tags-dd-color-primary: transparent;
  --active-tags-dd-bg-color: #edeff5;
}
.active-tags {
  $self: &;
  --tag-bg: rgba(242, 242, 240, 0.7);
  --tag-text-color: #0074bd;

  &__tag {
    > div {
      color: var(--tag-text-color);
      color: #0074bd;

      &::before {
        box-shadow: 0 0 0 3rem var(--tag-bg) inset;
      }
    }

    &:hover:not([readonly]),
    &:focus {
      > div {
        --tag-text-color: #008ee6;

        &::before {
          --tag-bg: #fafaf7;
        }
      }

      #{$self}__tag__removeBtn {
        background-color: var(--tag-text-color);

        &::after {
          background-color: white;
        }
      }
    }

    &__removeBtn {
      &:focus,
      &:hover {
        background: #c72100 !important;

        &::after {
          background-color: white;
        }

        + div {
          color: #c72100 !important;
          > span {
            opacity: 1;
          }
          &::before{
            box-shadow: 0 0 0 3rem rgba(199, 33, 0, .3) inset !important;
          }
        }
      }
    }
  }

  &__dropdown {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);

    &__item--active {
      color: #fff;
      background: #003eccff !important;
    }
  }

  &.form-select.form-element--type-select .active-tags__tag--editable {
    > div::before {
      box-shadow: 0 0 0 2px #008ee6 inset;
    }
    .active-tags__tag-entity-id {
      background: #008ee6;
    }
  }
}
