:root {
  --active-tags-dd-color-primary: transparent;
  --active-tags-dd-bg-color: #edeff5;
}

.active-tags {
  --tag-bg: rgba(242, 242, 240, 0.7);
  --tag-text-color: #0074bd;
}
.active-tags__tag > div {
  color: var(--tag-text-color);
  color: #0074bd;
}
.active-tags__tag > div::before {
  box-shadow: 0 0 0 3rem var(--tag-bg) inset;
}
.active-tags__tag:hover:not([readonly]) > div,
.active-tags__tag:focus > div {
  --tag-text-color: #008ee6;
}
.active-tags__tag:hover:not([readonly]) > div::before,
.active-tags__tag:focus > div::before {
  --tag-bg: #fafaf7;
}
.active-tags__tag:hover:not([readonly]) .active-tags__tag__removeBtn,
.active-tags__tag:focus .active-tags__tag__removeBtn {
  background-color: var(--tag-text-color);
}
.active-tags__tag:hover:not([readonly]) .active-tags__tag__removeBtn::after,
.active-tags__tag:focus .active-tags__tag__removeBtn::after {
  background-color: white;
}
.active-tags__tag__removeBtn:focus,
.active-tags__tag__removeBtn:hover {
  background: #c72100 !important;
}
.active-tags__tag__removeBtn:focus::after,
.active-tags__tag__removeBtn:hover::after {
  background-color: white;
}
.active-tags__tag__removeBtn:focus + div,
.active-tags__tag__removeBtn:hover + div {
  color: #c72100 !important;
}
.active-tags__tag__removeBtn:focus + div > span,
.active-tags__tag__removeBtn:hover + div > span {
  opacity: 1;
}
.active-tags__tag__removeBtn:focus + div::before,
.active-tags__tag__removeBtn:hover + div::before {
  box-shadow: 0 0 0 3rem rgba(199, 33, 0, 0.3) inset !important;
}
.active-tags__dropdown {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.active-tags__dropdown__item--active {
  color: #fff;
  background: #003ecc !important;
}
.active-tags.form-select.form-element--type-select .active-tags__tag--editable > div::before {
  box-shadow: 0 0 0 2px #008ee6 inset;
}
.active-tags.form-select.form-element--type-select .active-tags__tag--editable .active-tags__tag-entity-id {
  background: #008ee6;
}
