@charset "UTF-8"; :root {
  --active-tags-dd-color-primary: rgb(53,149,246);
  --active-tags-dd-text-color: black;
  --active-tags-dd-bg-color: white;
  --active-tags-dd-item-pad: .3em .5em;
  --active-tags-dd-max-height: 300px;
  --active-tags-dd-item--hidden-duration: .3s;
}

.active-tags {
  --tags-disabled-bg: #f1f1f1;
  --tags-border-color: #ddd;
  --tags-hover-border-color: #ccc;
  --tags-focus-border-color: #3595f6;
  --tag-border-radius: 3px;
  --tag-bg: #e5e5e5;
  --tag-hover: #d3e2e2;
  --tag-text-color: black;
  --tag-text-color--edit: black;
  --tag-pad: 0.5rem 0.3rem;
  --tag-inset-shadow-size: 1.5em;
  --tag-invalid-color: #d39494;
  --tag-invalid-bg: rgba(211, 148, 148, 0.5);
  --tag--min-width: 1ch;
  --tag--max-width: 100%;
  --tag-hide-transition: 0.3s;
  --tag-remove-bg: rgba(211, 148, 148, 0.3);
  --tag-remove-btn-color: black;
  --tag-remove-btn-bg: none;
  --tag-remove-btn-bg--hover: #c77777;
  --input-color: inherit;
  --placeholder-color: rgba(0, 0, 0, 0.4);
  --placeholder-color-focus: rgba(0, 0, 0, 0.25);
  --loader-size: .8em;
  --readonly-striped: 1;
  display: inline-flex;
  align-items: center !important;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid var(--tags-border-color);
  padding: 0 !important;
  line-height: 0;
  outline: none;
  position: relative;
  box-sizing: border-box;
  transition: 0.1s;
  /* Active tags select element */
}
@keyframes tags--bump {
  30% {
    transform: scale(1.2);
  }
}
@keyframes rotateLoader {
  to {
    transform: rotate(1turn);
  }
}
.active-tags:has([contenteditable=true]) {
  cursor: text;
}
.active-tags:hover:not(.active-tags--focus):not(.active-tags--invalid) {
  --tags-border-color: var(--tags-hover-border-color);
}
.active-tags[disabled] {
  background: var(--tags-disabled-bg);
  filter: saturate(0);
  opacity: 0.5;
  pointer-events: none;
}
.active-tags[readonly].active-tags--select,
.active-tags[disabled].active-tags--select {
  pointer-events: none;
}
.active-tags[readonly]:not(.active-tags--mix):not(.active-tags--select),
.active-tags[disabled]:not(.active-tags--mix):not(.active-tags--select) {
  cursor: default;
}
.active-tags[readonly]:not(.active-tags--mix):not(.active-tags--select) > .active-tags__input,
.active-tags[disabled]:not(.active-tags--mix):not(.active-tags--select) > .active-tags__input {
  visibility: hidden;
  width: 0;
  margin: 5px 0;
}
.active-tags[readonly]:not(.active-tags--mix):not(.active-tags--select) .active-tags__tag > div,
.active-tags[disabled]:not(.active-tags--mix):not(.active-tags--select) .active-tags__tag > div {
  padding: var(--tag-pad);
}
.active-tags[readonly]:not(.active-tags--mix):not(.active-tags--select) .active-tags__tag > div::before,
.active-tags[disabled]:not(.active-tags--mix):not(.active-tags--select) .active-tags__tag > div::before {
  animation: readonlyStyles 1s calc(-1s * (var(--readonly-striped) - 1)) paused;
}
@keyframes readonlyStyles {
  0% {
    background: linear-gradient(45deg, var(--tag-bg) 25%, transparent 25%, transparent 50%, var(--tag-bg) 50%, var(--tag-bg) 75%, transparent 75%, transparent) 0/5px 5px;
    box-shadow: none;
    filter: brightness(0.95);
  }
}
.active-tags[readonly] .active-tags__tag__removeBtn,
.active-tags[disabled] .active-tags__tag__removeBtn {
  display: none;
}
.active-tags--loading .active-tags__input > br:last-child {
  display: none;
}
.active-tags--loading .active-tags__input::before {
  content: none;
}
.active-tags--loading .active-tags__input::after {
  content: "";
  vertical-align: middle;
  opacity: 1;
  width: 0.7em;
  height: 0.7em;
  width: var(--loader-size);
  height: var(--loader-size);
  min-width: 0;
  border: 3px solid;
  border-color: #eee #bbb #888 transparent;
  border-radius: 50%;
  animation: rotateLoader 0.4s infinite linear;
  content: "" !important;
  margin: -2px 0 -2px 0.5em;
  right: 5px;
  border-top: 2px solid #003ecc;
}
.active-tags--loading .active-tags__input:empty::after {
  margin-left: 0;
}
.active-tags--loading .active-tags--loading-text.hidden {
  display: block;
}
.active-tags--loading-text {
  position: absolute;
  right: 0;
  bottom: 100%;
  max-width: 100%;
  margin-bottom: 0.15rem;
  color: var(--color-link);
  font-size: var(--font-size-xxs);
  font-weight: bold;
  line-height: 1.125rem;
}
.active-tags + input,
.active-tags + textarea {
  position: absolute !important;
  left: -9999em !important;
  transform: scale(0) !important;
}
.active-tags__tag {
  display: inline-flex;
  align-items: center;
  max-width: var(--tag--max-width);
  height: 32px;
  margin-inline: 5px 0;
  margin-block: 5px;
  position: relative;
  z-index: 1;
  outline: none;
  line-height: normal;
  cursor: move;
  transition: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.active-tags__tag > div {
  display: flex;
  flex: 1;
  align-items: center;
  vertical-align: top;
  box-sizing: border-box;
  max-width: 100%;
  padding: var(--tag-pad);
  color: var(--tag-text-color);
  line-height: inherit;
  border-radius: var(--tag-border-radius);
  white-space: nowrap;
  transition: 0.13s ease-out;
}
.active-tags__tag > div > * {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
  align-self: baseline;
  min-width: var(--tag--min-width);
  max-width: var(--tag--max-width);
  transition: 0.8s ease, 0.1s color;
}
.active-tags__tag > div > *[contenteditable] {
  display: block;
  outline: none;
  user-select: text;
  cursor: text;
  margin: -2px;
  padding: 2px;
  max-width: 350px;
}
.active-tags__tag > div > *:only-child {
  width: 100%;
}
.active-tags__tag > div::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  inset: var(--tag-bg-inset, 0);
  z-index: -1;
  pointer-events: none;
  transition: 120ms ease;
  animation: tags--bump 0.3s ease-out 1;
  box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-bg) inset;
}
.active-tags__tag:hover:not([readonly]) div::before,
.active-tags__tag:focus div::before {
  --tag-bg-inset: -1px;
  --tag-bg: var(--tag-hover);
}
.active-tags__tag--loading {
  pointer-events: none;
}
.active-tags__tag--loading .active-tags__tag__removeBtn {
  display: none;
}
.active-tags__tag--loading::after {
  --loader-size: .4em;
  content: "";
  vertical-align: middle;
  opacity: 1;
  width: 0.7em;
  height: 0.7em;
  width: var(--loader-size);
  height: var(--loader-size);
  min-width: 0;
  border: 3px solid;
  border-color: #eee #bbb #888 transparent;
  border-radius: 50%;
  animation: rotateLoader 0.4s infinite linear;
  margin: 0 0.5em 0 -0.1em;
}
.active-tags__tag--flash div::before {
  animation: none;
}
.active-tags__tag--hide {
  width: 0 !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  opacity: 0;
  transform: scale(0);
  transition: var(--tag-hide-transition);
  pointer-events: none;
}
.active-tags__tag--hide > div > * {
  white-space: nowrap;
}
.active-tags__tag.active-tags--noAnim > div::before {
  animation: none;
}
.active-tags__tag.active-tags--notAllowed:not(.active-tags__tag--editable) div > span {
  opacity: 0.5;
}
.active-tags__tag.active-tags--notAllowed:not(.active-tags__tag--editable) div::before {
  --tag-bg: var(--tag-invalid-bg);
  transition: 0.2s;
}
.active-tags__tag[readonly] .active-tags__tag__removeBtn {
  display: none;
}
.active-tags__tag[readonly] > div::before {
  animation: readonlyStyles 1s calc(-1s * (var(--readonly-striped) - 1)) paused;
}
@keyframes readonlyStyles {
  0% {
    background: linear-gradient(45deg, var(--tag-bg) 25%, transparent 25%, transparent 50%, var(--tag-bg) 50%, var(--tag-bg) 75%, transparent 75%, transparent) 0/5px 5px;
    box-shadow: none;
    filter: brightness(0.95);
  }
}
.active-tags__tag--editable > div {
  color: var(--tag-text-color--edit);
}
.active-tags__tag--editable > div::before {
  box-shadow: 0 0 0 2px var(--tag-hover) inset !important;
}
.active-tags__tag--editable > .active-tags__tag__removeBtn {
  pointer-events: none;
}
.active-tags__tag--editable > .active-tags__tag__removeBtn::after {
  opacity: 0;
  transform: translateX(100%) translateX(5px);
}
.active-tags__tag--editable.active-tags--invalid > div::before {
  box-shadow: 0 0 0 2px var(--tag-invalid-color) inset !important;
}
.active-tags__tag__removeBtn {
  position: relative;
  order: 5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-inline: auto 4.6666666667px;
  overflow: hidden;
  transition: 0.2s ease-out;
}
.active-tags__tag__removeBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 9px;
  height: 9px;
  transition: 0.3s, color 0s;
  background-color: var(--tag-remove-btn-color);
  -webkit-mask: url("data:image/svg+xml,%3csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 1.318L1 8.318M8 8.318L1 1.318' stroke='%23D3D4D9' stroke-width='1.5'/%3e%3c/svg%3e") no-repeat 50%;
  mask: url("data:image/svg+xml,%3csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 1.318L1 8.318M8 8.318L1 1.318' stroke='%23D3D4D9' stroke-width='1.5'/%3e%3c/svg%3e") no-repeat 50%;
}
.active-tags__tag__removeBtn:focus,
.active-tags__tag__removeBtn:hover {
  background: var(--tag-remove-btn-bg--hover);
}
.active-tags__tag__removeBtn:focus::after,
.active-tags__tag__removeBtn:hover::after {
  background-color: white;
}
.active-tags__tag__removeBtn:focus + div > span,
.active-tags__tag__removeBtn:hover + div > span {
  opacity: 0.5;
}
.active-tags__tag__removeBtn:focus + div::before,
.active-tags__tag__removeBtn:hover + div::before {
  box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--tag-remove-bg, rgba(211, 148, 148, 0.3)) inset !important;
  transition: box-shadow 0.2s;
}
.active-tags__tag__text {
  margin-left: 0.5rem;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 151.524%;
}
.active-tags__tag__text-with-entity-id {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 151.524%;
}
.active-tags__tag__entity-id {
  background-color: white;
}
.active-tags__tag__entity-id,
.active-tags__tag__info-label {
  padding: 0.5rem;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
}
.active-tags__tag__with-entity-id {
  display: inline-block;
  text-align: center;
  color: #55565b;
  border-radius: var(--tag-border-radius);
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.active-tags__tag__info-label-wrap {
  display: inline-block;
  margin-left: 0.5rem;
  text-align: center;
  color: #55565b;
  border-radius: var(--tag-border-radius);
  background-color: white;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.active-tags__tag__info-label-image {
  display: flex;
}
.active-tags__tag img {
  width: 100%;
  vertical-align: top;
  pointer-events: none;
}
.active-tags__tag__avatar-wrap {
  width: 24px;
  height: 24px;
  transition: 0.12s ease-out;
  white-space: normal;
  border-radius: 50%;
  background: silver;
}
.active-tags__tag__item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-tags__tag__items__with-entity-id .active-tags__tag__avatar-wrap {
  margin-left: 0.5rem;
}
.active-tags__tag__facets-count {
  white-space: nowrap !important;
  margin-left: 0.5rem;
}
.active-tags:not(.active-tags--mix) .active-tags__input br {
  display: none;
}
.active-tags:not(.active-tags--mix) .active-tags__input * {
  display: inline;
  white-space: nowrap;
}
.active-tags__input-select,
.active-tags__input {
  flex-grow: 1;
  display: inline-block;
  min-width: 110px;
  margin: 5px;
  padding: var(--tag-pad);
  line-height: normal;
  position: relative;
  white-space: pre-wrap;
  color: var(--input-color);
  box-sizing: inherit;
  overflow: hidden;
}
.active-tags__input-select:focus,
.active-tags__input:focus {
  outline: none;
}
.active-tags__input-select:focus::before,
.active-tags__input:focus::before {
  transition: 0.2s ease-out;
  opacity: 0;
  transform: translatex(6px);
  /* ALL MS BROWSERS: hide placeholder (on focus) otherwise the caret is placed after it, which is weird */
  /* IE Edge 12+ CSS styles go here */
}
@supports (-ms-ime-align: auto) {
  .active-tags__input-select:focus::before,
  .active-tags__input:focus::before {
    display: none;
  }
}
.active-tags__input-select:focus:empty::before,
.active-tags__input:focus:empty::before {
  transition: 0.2s ease-out;
  opacity: 1;
  transform: none;
  color: rgba(0, 0, 0, 0.25);
  color: var(--placeholder-color-focus);
}
@-moz-document url-prefix() {
  .active-tags__input-select:focus:empty::after,
  .active-tags__input:focus:empty::after {
    display: none;
  }
}
.active-tags__input-select::before,
.active-tags__input::before {
  content: attr(data-placeholder);
  width: 100%;
  height: 100%;
  margin: auto 0;
  z-index: 1;
  color: var(--placeholder-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  position: absolute;
}
.active-tags__input-select::after,
.active-tags__input::after {
  content: attr(data-suggest);
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  min-width: calc(100% - 1.5em);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre; /* allows spaces at the beginning */
  color: var(--tag-text-color);
  opacity: 0.3;
  pointer-events: none;
  max-width: 100px;
}
.active-tags__input-select .active-tags__tag,
.active-tags__input .active-tags__tag {
  margin: 0 1px;
}
.active-tags--mix {
  display: block;
}
.active-tags--mix .active-tags__input {
  padding: 5px;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  display: block;
}
.active-tags--mix .active-tags__input::before {
  height: auto;
  display: none;
  line-height: inherit;
}
.active-tags--mix .active-tags__input::after {
  content: none;
}
.active-tags--select {
  cursor: default;
}
.active-tags--select::after {
  content: ">";
  opacity: 0.5;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  font: 16px monospace;
  line-height: 8px;
  height: 8px;
  pointer-events: none;
  transform: translate(-150%, -50%) scaleX(1.2) rotate(90deg);
  transition: 0.2s ease-in-out;
}
.active-tags--select[aria-expanded=true]::after {
  transform: translate(-150%, -50%) rotate(270deg) scaleY(1.2);
}
.active-tags--select .active-tags__tag {
  flex: 1;
  max-width: none;
  margin-inline-end: 2em;
  margin-block: 0;
  padding-block: 5px;
  cursor: text;
}
.active-tags--select .active-tags__tag div::before {
  display: none;
}
.active-tags--select .active-tags__tag + .active-tags__input {
  display: none;
}
.active-tags--empty .active-tags__input::before {
  transition: 0.2s ease-out;
  opacity: 1;
  transform: none;
  display: inline-block;
  width: auto;
}
.active-tags--mix .active-tags--empty .active-tags__input::before {
  display: inline-block;
}
.active-tags--focus {
  --tags-border-color: var(--tags-focus-border-color);
  transition: 0s;
}
.active-tags--invalid {
  --tags-border-color: #d39494;
}
.active-tags__dropdown {
  --tag-border-radius: 3px;
  position: absolute;
  z-index: 9999;
  transform: translateY(-1px);
  border-top: 1px solid var(--active-tags-dd-color-primary);
  overflow: hidden;
}
.active-tags__dropdown.active-tags__tag__bubble {
  --tag-border-radius: 1rem;
}
.active-tags__dropdown[dir=rtl] {
  transform: translate(-100%, -1px);
}
.active-tags__dropdown[placement=top] {
  margin-top: 0;
  transform: translateY(-100%);
}
.active-tags__dropdown[placement=top] .active-tags__dropdown__wrapper {
  border-top-width: 1.1px;
  border-bottom-width: 0;
}
.active-tags__dropdown[position=text] {
  box-shadow: 0 0 0 3px rgba(var(--active-tags-dd-color-primary), 0.1);
  font-size: 0.9em;
}
.active-tags__dropdown[position=text] .active-tags__dropdown__wrapper {
  border-width: 1px;
}
.active-tags__dropdown__wrapper {
  max-height: var(--active-tags-dd-max-height);
  overflow: hidden;
  overflow-x: hidden;
  color: var(--active-tags-dd-text-color);
  background: var(--active-tags-dd-bg-color);
  border: 1px solid;
  border-color: var(--active-tags-dd-color-primary);
  border-bottom-width: 1.5px;
  border-top-width: 0;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1), transform 0.15s;
  animation: dd-wrapper-show 0s 0.3s forwards;
}
@keyframes dd-wrapper-show {
  to {
    overflow-y: auto;
  }
}
.active-tags__dropdown__header:empty {
  display: none;
}
.active-tags__dropdown__footer {
  display: inline-block;
  margin-top: 0.5em;
  padding: var(--active-tags-dd-item-pad);
  font-size: 0.8rem;
  font-style: italic;
  opacity: 0.5;
}
.active-tags__dropdown__footer:empty {
  display: none;
}
.active-tags__dropdown--initial .active-tags__dropdown__wrapper {
  max-height: 20px;
  transform: translateY(-1em);
}
.active-tags__dropdown--initial[placement=top] .active-tags__dropdown__wrapper {
  transform: translateY(2em);
}
.active-tags__dropdown__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: normal;
  box-sizing: border-box;
  padding: var(--active-tags-dd-item-pad);
  margin: 1px;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  outline: none;
  max-height: 60px;
  max-width: 100%;
  line-height: normal;
}
.active-tags__dropdown__item .active-tags__tag__info-label-wrap {
  background-color: #e5e5e5;
}
.active-tags__dropdown__item--active {
  background: var(--active-tags-dd-color-primary);
  color: white;
}
.active-tags__dropdown__item--active .active-tags__tag__info-label-wrap {
  background-color: white;
}
.active-tags__dropdown__item:active {
  filter: brightness(105%);
}
.active-tags__dropdown__item--hidden {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 1px;
  pointer-events: none;
  overflow: hidden;
  max-height: 0;
  transition: var(--active-tags-dd-item--hidden-duration) !important;
}
.active-tags__dropdown__item--hidden > * {
  transform: translateY(-100%);
  opacity: 0;
  transition: inherit;
}
.active-tags__dropdown__item--selected::before {
  content: "✓";
  font-family: monospace;
  position: absolute;
  inset-inline-start: 6px;
  text-indent: 0;
  line-height: 1.1;
}
.active-tags__dropdown__item--no-match {
  display: flex !important;
  align-items: center;
  padding: var(--active-tags-dd-item-pad) !important;
  opacity: 0.5;
  font-style: italic;
}
.active-tags__dropdown__item--no-match p {
  /*display: inline-flex;*/
  font-size: 0.8em;
}
.active-tags__dropdown__item--no-match .active-tags--value {
  display: inline-flex;
  padding: var(--active-tags-dd-item-pad);
  font-size: 0.9em;
}
.active-tags__dropdown__item .active-tags__tag__info-label-image img,
.active-tags__dropdown__item .active-tags__tag__info-label-image svg {
  width: 20px;
  height: 20px;
  transition: 0.12s ease-out;
  white-space: normal;
  border-radius: 50%;
  background: silver;
}
.active-tags__dropdown__item__avatar-wrap {
  overflow: hidden;
  grid-area: avatar;
  width: 30px;
  height: 30px;
  transition: 0.1s ease-out;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.active-tags__dropdown-user-info {
  flex: 1 1 auto;
  margin-left: 9px;
  justify-items: baseline;
}
.active-tags__dropdown:has(.active-tags__dropdown__item--selected) .active-tags__dropdown__item {
  text-indent: 1em;
}
.active-tags.form-element--api-entity-autocomplete-active-tags,
.active-tags.form-element--type-select,
.active-tags.form-element--type-select-multiple {
  background-image: url("data:image/svg+xml,%3csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 1C3.46.827-.188 5.787 1.313 10.068c1.176 4.384 6.993 6.417 10.637 3.7.326-.39.565.276.846.442l3.74 3.739 1.413-1.414-4.35-4.35c2.811-3.468 1.15-9.247-3.062-10.71A7.003 7.003 0 008 1zm0 2c3.242-.123 5.849 3.42 4.777 6.477-.842 3.132-4.994 4.58-7.6 2.65-2.745-1.73-2.9-6.125-.285-8.044A5.006 5.006 0 018 3z' fill='%23868686'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.active-tags.active-tags--loading.form-element--api-entity-autocomplete-active-tags,
.active-tags.active-tags--loading.form-element--type-select,
.active-tags.active-tags--loading.form-element--type-select-multiple {
  background-image: none;
}
.active-tags.form-element:hover {
  box-shadow: inset 0 0 0 var(--input-border-size) var(--input--hover-border-color);
}
.active-tags.form-element--type-select-multiple:focus-within,
.active-tags.form-element--type-select:focus-within,
.active-tags.form-element--api-entity-autocomplete-active-tags:focus-within {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-focus), inset 0 0 0 var(--input-border-size) var(--input--hover-border-color) !important;
}
.active-tags.form-select {
  cursor: default;
}
.active-tags.form-select.form-element--type-select-multiple,
.active-tags.form-select.form-element--type-select {
  padding-inline-end: calc(2rem - var(--input-border-size));
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23545560'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 2.75rem 0.5625rem; /* w: 14px + (2 * 15px), h: 9px */
}
.active-tags.form-select.form-element--type-select-multiple:focus-within,
.active-tags.form-select.form-element--type-select:focus-within {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23003ecc'/%3e%3c/svg%3e");
}
.active-tags.form-select.form-element--type-select .active-tags__tag--editable .active-tags__tag__removeBtn {
  margin-right: 0.5rem;
  background: none;
}
.active-tags.form-select.form-element--type-select .active-tags__tag--editable .active-tags__tag__entity-id {
  transition: 0.13s ease-out;
  background: #d3e2e2;
}
.active-tags.form-select.form-element--type-select .active-tags__tag--editable .active-tags__tag__text {
  margin-left: 0.5rem;
}
.active-tags.form-select.form-element--type-select.active-tags--hasMaxTags .active-tags__input {
  visibility: collapse;
}
.active-tags.active-tags__tag__bubble {
  --tag-border-radius: 1rem;
}

/* active-tags component focus */
.page-wrapper .active-tags :focus,
.ui-dialog .active-tags :focus {
  box-shadow: none;
}

.form-type-entity-autocomplete-active-tags .claro-autocomplete,
.field--widget-entity-reference-autocomplete-active-tags .claro-autocomplete {
  width: 100%;
}
