:root {
  --active-tags-dd-color-primary: var(--gin-bg-layer3);
  --active-tags-dd-bg-color: var(--gin-bg-layer2);
}

/* Gin active tags component */
.active-tags {
  --tag-border-radius: var(--ginBorderSmall);
}
.active-tags--loading .active-tags__input::after {
  right: 5px;
  width: 17px;
  height: 17px;
  border: 2px solid var(--gin-bg-input);
  border-top: 2px solid var(--gin-color-primary);
  border-radius: 50%;
}
.active-tags--loading-text {
  color: var(--gin-color-primary);
}
.active-tags__tag > div {
  color: var(--gin-color-text);
}
.active-tags__tag:hover:not([readonly]) div,
.active-tags__tag:focus div {
  color: var(--gin-color-primary-active);
}
.active-tags__tag:hover:not([readonly]) div::before,
.active-tags__tag:focus div::before {
  --tag-bg: var(--gin-color-primary-light-hover);
}
.active-tags__tag:hover:not([readonly]) .active-tags__tag__removeBtn,
.active-tags__tag:focus .active-tags__tag__removeBtn {
  background-color: var(--gin-color-primary-active);
}
.active-tags__tag__removeBtn {
  margin-right: 0.5rem;
  margin-left: 0.3rem;
  background: #55565b;
}
.active-tags__tag__removeBtn::after {
  background-color: #dedfe4;
}
.active-tags__tag__removeBtn:focus,
.active-tags__tag__removeBtn:hover {
  background: #fff !important;
  box-shadow: none;
}
.active-tags__tag__removeBtn:focus::after,
.active-tags__tag__removeBtn:hover::after {
  background-color: var(--gin-color-danger);
}
.active-tags__tag__removeBtn:focus > .active-tags__tag:hover,
.active-tags__tag__removeBtn:hover > .active-tags__tag:hover {
  background: #fff !important;
}
.active-tags__tag__removeBtn:focus + div,
.active-tags__tag__removeBtn:hover + div {
  color: #fff !important;
}
.active-tags__tag__removeBtn:focus + div > span,
.active-tags__tag__removeBtn:hover + div > span {
  opacity: 1;
}
.active-tags__tag__removeBtn:focus + div::before,
.active-tags__tag__removeBtn:hover + div::before {
  box-shadow: 0 0 0 var(--tag-inset-shadow-size) var(--gin-color-danger) inset !important;
  transition: box-shadow 0.2s;
}
.active-tags__dropdown {
  border: 1px solid var(--gin-border-color);
  border-top: 2px transparent solid;
  border-radius: 0 0 var(--gin-border-m) var(--gin-border-m);
  box-shadow: 0 0.125rem 0.25rem var(--jui-dropdown-shadow-color);
  box-sizing: border-box;
}
.active-tags__dropdown[placement=top] {
  border: 1px solid var(--gin-border-color);
  border-bottom: 2px transparent solid;
  border-radius: var(--gin-border-m) var(--gin-border-m) 0 0;
  box-shadow: 0 -0.125rem 0.25rem var(--jui-dropdown-shadow-color);
}
.active-tags__dropdown.active-tags__tag__bubble {
  --tag-border-radius: 1rem;
}
.active-tags__dropdown__wrapper {
  border: 0 !important;
  color: var(--gin-color-text);
  background: var(--gin-bg-input);
}
.active-tags__dropdown__item {
  margin: 0;
  padding: 0.75rem 0.9375rem;
  color: inherit;
  background: inherit;
}
.active-tags__dropdown__item--active {
  color: var(--gin-color-primary-hover);
  background-color: var(--gin-bg-item-hover);
}
.active-tags.form-element--type-select:focus,
.active-tags.form-element--type-select:focus-within .active-tags.form-element--type-select-multiple:focus,
.active-tags.form-element--type-select-multiple:focus-within,
.active-tags.form-element--api-entity-autocomplete-active-tags:focus,
.active-tags.form-element--api-entity-autocomplete-active-tags:focus-within,
.active-tags.form-element--api-entity-autocomplete-active-tags-users:focus,
.active-tags.form-element--api-entity-autocomplete-active-tags-users:focus-within {
  box-shadow: 0 0 0 1px var(--gin-color-focus-border), 0 0 0 4px var(--gin-color-focus) !important;
}
.active-tags.form-select.form-element--type-select .active-tags__tag--editable .active-tags__tag__info-label-wrap,
.active-tags__tag--editable .active-tags__tag-entity-id {
  color: var(--gin-color-text);
  background: var(--gin-color-primary-light-hover) !important;
}
.active-tags.form-select.form-element--type-select .active-tags__tag--editable > div::before {
  box-shadow: 0 0 0 2px var(--gin-color-primary-light-hover) inset !important;
}

/* Gin dark mode */
.gin--dark-mode .active-tags {
  --tag-text-color--edit: var(--gin-color-text);
  --tag-remove-btn-color: var(--gin-color-text);
  --tag-text-color: var(--gin-color-text);
  --tag-bg: var(--gin-bg-layer);
  --placeholder-color: var(--gin-color-text-light);
  --placeholder-color-focus: var(--gin-color-text);
}
.gin--dark-mode .active-tags__tag > div {
  color: var(--gin-color-text);
}
.gin--dark-mode .active-tags__tag__removeBtn {
  background: var(--gin-color-danger);
}
.gin--dark-mode .active-tags__tag:hover:not([readonly]) div,
.gin--dark-mode .active-tags__tag:focus div {
  color: var(--gin-color-primary-active);
}
.gin--dark-mode .active-tags__tag:hover:not([readonly]) div::before,
.gin--dark-mode .active-tags__tag:focus div::before {
  --tag-bg: var(--gin-color-primary-light-hover);
}
.gin--dark-mode .active-tags__tag:hover:not([readonly]) > .active-tags__removeBtn,
.gin--dark-mode .active-tags__tag:focus > .active-tags__removeBtn {
  color: #55565b;
  background: #dedfe4;
}
.gin--dark-mode .active-tags__dropdown__item--active {
  color: var(--gin-color-primary-hover) !important;
  background-color: var(--gin-bg-item-hover) !important;
}
.gin--dark-mode .active-tags__dropdown.users-list .active-tags__dropdown__count {
  color: var(--gin-color-text);
  border-bottom: 1px solid #55565b;
  background-color: var(--gin-bg-layer);
}
.gin--dark-mode .active-tags__tag-entity-id,
.gin--dark-mode .active-tags__tag__entity-id-wrap,
.gin--dark-mode .active-tags__tag__info-label-wrap {
  color: var(--gin-color-text);
  background-color: #55565b;
}
.gin--dark-mode .active-tags__tag__items .active-tags__tag__info-label-wrap {
  transition: none;
}
.gin--dark-mode .active-tags__tag:hover > .active-tags__tag__items .active-tags__tag-entity-id,
.gin--dark-mode .active-tags__tag:hover > .active-tags__tag__items .active-tags__tag__info-label-wrap {
  color: #55565b;
  background-color: var(--gin-color-text);
}
.gin--dark-mode .active-tags.form-select.form-element--type-select .active-tags__tag--editable .active-tags__tag__removeBtn {
  background: none !important;
}
.gin--dark-mode .active-tags.form-select.form-element--type-select.active-tags__tag--editable.active-tags__tag:hover > .active-tags__tag__items .active-tags__tag-entity-id,
.gin--dark-mode .active-tags.form-select.form-element--type-select .active-tags__tag--editable.active-tags__tag:hover > .active-tags__tag__items .active-tags__tag__info-label-wrap {
  color: var(--gin-color-text);
}
