:root {
  --active-tags-dd-color-primary: transparent;
  --active-tags-dd-bg-color: #edeff5;
}

.active-tags__tag > div {
  color: var(--color-gray-800);
}
.active-tags__tag:hover:not([readonly]) > div,
.active-tags__tag:focus > div {
  color: var(--color-absolutezero);
}
.active-tags__tag:hover:not([readonly]) > div::before,
.active-tags__tag:focus > div::before {
  --tag-bg: var(--color-bgblue-active);
}
.active-tags__tag:hover:not([readonly]) .active-tags__tag__removeBtn,
.active-tags__tag:focus .active-tags__tag__removeBtn {
  background-color: var(--color-absolutezero);
}
.active-tags__tag:hover:not([readonly]) .active-tags__tag__removeBtn::after,
.active-tags__tag:focus .active-tags__tag__removeBtn::after {
  background-color: white;
}
.active-tags__tag__removeBtn {
  margin-right: 0.5rem;
  margin-left: 0.3rem;
  background: #55565b;
}
.active-tags__tag__removeBtn::after {
  background-color: white;
}
.active-tags__tag__removeBtn:focus,
.active-tags__tag__removeBtn:hover {
  background: var(--color-maximumred) !important;
}
.active-tags__tag__removeBtn:focus::after,
.active-tags__tag__removeBtn:hover::after {
  background-color: white;
}
.active-tags__tag__removeBtn:focus + div,
.active-tags__tag__removeBtn:hover + div {
  color: var(--color-maximumred) !important;
}
.active-tags__tag__removeBtn:focus + div > span,
.active-tags__tag__removeBtn:hover + div > span {
  opacity: 1;
}
.active-tags__dropdown {
  color: var(--jui-dropdown-fg-color);
  border: var(--input-border-size) solid var(--jui-dropdown-border-color);
  border-top: 1px transparent solid;
  border-radius: 0 0 var(--input-border-radius-size) var(--input-border-radius-size);
  box-shadow: 0 0.125rem 0.25rem var(--jui-dropdown-shadow-color);
  box-sizing: border-box;
}
.active-tags__dropdown__wrapper {
  border: 0 !important;
  color: inherit;
  background: var(--jui-dropdown-bg-color);
}
.active-tags__dropdown__item {
  margin: 0;
  padding: 0.75rem 0.9375rem;
  color: inherit;
  background: inherit;
}
.active-tags__dropdown__item--active {
  color: #fff;
  background: var(--color-blue-600) !important;
}
.active-tags.form-select.form-element--type-select .active-tags__tag--editable > div::before {
  box-shadow: 0 0 0 2px var(--color-bgblue-active) inset;
}
.active-tags.form-select.form-element--type-select .active-tags__tag--editable .active-tags__tag-entity-id {
  background: var(--color-bgblue-active);
}
